Source: szn-python-pyoo
Section: python
Priority: extra
Maintainer: Miloslav Pojman <miloslav.pojman@firma.seznam.cz>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.6.6-3)
Standards-Version: 3.9.4

Package: szn-python-pyoo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-uno
Description: PyOO - Pythonic interface to Apache OpenOffice API (UNO)
 PyOO allows you to control a running LibreOffice
 program for reading and writing spreadsheet documents.
 The library can be used for generating documents in various
 formats -- including Microsoft Excel 97 (.xls),
 Microsoft Excel 2007 (.xlsx) and PDF.
 .
 The main advantage of the PyOO library is that it can use almost any
 functionality implemented in OpenOffice / LibreOffice applications.
 On the other hand it needs a running process of a office suite
 application which is significant overhead.
 .
 PyOO uses UNO interface via Python-UNO bridge. UNO is a
 standard interface to a running OpenOffice or LibreOffice
 application. Python-UNO provides this interface in Python scripts.
 Direct usage of UNO API via Python-UNO can be quite complicated
 and even simple tasks require a lot of code. Also many UNO calls
 are slow and should be avoided when possible.
 .
 PyOO wraps a robust Python-UNO bridge to simple and Pythonic
 interface. Under the hood it implements miscellaneous
 optimizations which can prevent unnecessary expensive UNO
 calls.
