Source: szn-python-pyoo
Section: python
Priority: optional
Maintainer: Miloslav Pojman <miloslav.pojman@firma.seznam.cz>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python, python-support
Standards-Version: 3.9.1

Package: szn-python-pyoo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-uno
Description: Pythonic interface to OpenOffice.org API (UNO)
 PyOO allows to control a running OpenOffice.org_ program and
 use it for reading and writing spreadsheet documents.
 The library can be used for creation of miscellaneous exports
 to spreadsheet many document formats -- including Microsoft
 Excel 97 (.xls) and Microsoft Excel 2007 (.xlsx).
 .
 The main advantage of PyOO library is that it can use almost any
 functionality implemented in OpenOffice.org so it does not need
 to reinvent the wheel as many libraries do. On the other
 side it requires a running instance of an OpenOffice.org program
 which means significant overhead.
 .
 PyOO uses an UNO_ interface via Python-UNO_ bridge. UNO is a
 standard interface which allows to control running OpenOffice program.
 Python-UNO makes this interface available in Python scripts.
 .
 Direct usage of UNO API via Python-UNO can be quite complicated
 and even simple tasks require a lot of code. Another problem
 is that many UNO calls are slow and should be avoided when it
 is possible.
 .
 PyOO wraps robust Python-UNO bridge to simple and Pythonic
 interface. Under the hood it implements miscellaneous
 optimizations which can prevent unnecessary expensive UNO
 calls.
